<!DOCTYPE html>
<html>
  <%- include('header') %>
  <body>
    <h1><%= pelicula.title %> </h1>
    <ul>
        <li>
            Duración: <%= pelicula.length %> 
        </li>

        <li>
            Fecha de estreno: <%= pelicula.release_date %> 
        </li>

        <li>
            Awards: <%= pelicula.awards %> 
        </li>

        <li>
            Rating: <%= pelicula.rating %> 
        </li>

        <li>
            Genero: <%= pelicula.generos.name %> 
        </li>

        Actores
        <ul>
            <% for( let i = 0; i < pelicula.actores.length; i++ ) { %>

                <li>
                    <%= pelicula.actores[i].first_name %> 
                    <%= pelicula.actores[i].last_name %> 
                </li>
            
            <% } %>
        </ul>
    </ul>
    <a href="/peliculas/editar/<%= pelicula.id %> ">
       <button>Editar</button> 
    </a>
    <form action="/peliculas/borrar/<%= pelicula.id %> " method="POST">
        <button type="sumbit">Borrar</button>
    </form>

  </body>
  <%- include('footer') %> 
</html>